<div class="col-md-2">

<form id="id_services" name="forumForm" ng-submit="submit(forumForm)" novalidate>
	
	
                <label>produit</label>
	<div ng-class="{'has-error': forumForm.produit.$invalid}">
			<!--<label>Pseudo</label>-->
			<!--<div ng-show="signupForm.region.$error.required">Ce champ est requis</div> -->
			<div ng-show="forumForm.produit.$error.maxlength">Ce champ ne doit pas dépasser 24 caractères</div>
			<div ng-show="forumForm.produit.$error.minlength">Ce champ doit faire 4 caractères minimum</div>
			<input class="form-control"
					type="text"
					name="produit"
					ng-model="produitForum.produit"
					ng-minlength="4"
					ng-maxlength="24"
					required/>
	</div>

            <label>description produit</label>
	<div ng-class="{'has-error': forumForm.descproduit.$invalid}">
			<!--<label>Pseudo</label>-->
			<!--<div ng-show="signupForm.region.$error.required">Ce champ est requis</div> -->
			<div ng-show="forumForm.descproduit.$error.maxlength">Ce champ ne doit pas dépasser 24 caractères</div>
			<div ng-show="forumForm.descproduit.$error.minlength">Ce champ doit faire 4 caractères minimum</div>
			<textarea class="form-control"
					name="descproduit"
					ng-model="produitForum.descproduit"
					ng-minlength="4"
					ng-maxlength="24"
					required /> </textarea>
	</div>
	
     <br/>

     	<div class="row">
     			<div class="col-md-4">
     				<label>prix</label>
					<div ng-class="{'has-error': forumForm.prix.$invalid}">
					<!--<label>Pseudo</label>-->
					<!--<div ng-show="signupForm.region.$error.required">Ce champ est requis</div> -->
					<div ng-show="forumForm.prix.$error.maxlength">Ce champ ne doit pas dépasser 24 caractères</div>
					<div ng-show="forumForm.prix.$error.minlength">Ce champ doit faire 4 caractères minimum</div>
					<input class="form-control"
						type="text"
						name="prix"
						ng-model="produitForum.prix"
						ng-minlength="1"
						ng-maxlength="24"
						required/>
					</div>

     			</div>

     			<div class="col-md-2">
     				 <select style="margin-top:30px;" name="inputDevise" ng-model="produitForum.devise">
                           <option value="dollar_US">Dollar US</option>
                           <option value="eur" selected>Euro</option>
                           <option value="dollar_Canadien">Dollar canadien</option>
                     </select>

     			</div>
     	</div>


     <br/>

     <label>photo produit (facultatif)</label>
      
     <!--<input type="file" name="image" ng-model="produitForum.image" id="getimage"> -->
 <input type="file"  id="file" name='image'  onchange="angular.element(this).scope().fileNameChanged(this)" />

      <div  id="imgstore"></div>

      <script type="text/javascript">

function imageHandler(e2) 
{ 
  var store = document.getElementById('imgstore');
  store.innerHTML='<img ng-src="' + e2.target.result +'">';
  console.log(store.innerHTML);
}

function loadimage(e1)
{
  var filename = e1.target.files[0]; 
  var fr = new FileReader();
  console.log("jp");
  fr.onload = imageHandler;  
  fr.readAsDataURL(filename); 
}

window.onload=function()
{
  //var x = document.getElementById("filebrowsed");
  //x.addEventListener('change', readfile, false);
  var y = document.getElementById("getimage");
  y.addEventListener('change', loadimage, false);
  console.log("test");
}

</script>

                          
                           

     <br/>

	<button class="btn btn-primary" type="submit">Valider</button>


</form>

</div>